@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Expenses tracker .NET 5.0</h1>
    <br /><br />
    <h2 class="col-12 display-4" >
        Business requirements
    </h2>
    <br /><br />    

<dl>
<dt>Log expenses, tag them (or have categories)</dt>
    <dd>You can log the expenses, add an expense date, a due date if its not yet completed, choose from the categories</dd>
<dt>List expenses</dt>
    <dd> All expenses are listed in the Expenses tab</dd>
<dt>Have a few graphs</dt>
    <dd> Pie chart for last 30 days expense, column chart for 30 days and column chart for last 12 months</dd>
<dt>Store them in a database</dt>
    <dd>All information is stored in a database. I used migrations and connected with the localdb</dd>
<dt>Extra: search by created date, tag/category, text, expired, due date</dt>
    <dd>You can search for the expense name, category, expense date or due date</dd>
<dt>Extra: due date with reminder</dt>
    <dd>I make the expenses which are due with a different row color, also you can also search for 'due' in Search and you get all the due expenses</dd>
<dt>Extra: mark expired expenses</dt>
    <dd>All expired expenses are shown in light red and also you get a notification right away if you have an expired expense. Searching for 'expired' will also show all expired expenses</dd>
</dl>


</div>
