@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-1">Expenses tracker .NET 5.0</h1>
    <br /><br />
    <h2 class="col-12 display-4" >
        Business requirements
    </h2>
    <br /><br />    

<dl>
<dt>Log expenses, tag them (or have categories)</dt>
    <dd>You can log the expenses, add a date to them and choose from the categories</dd>
<dt>List expenses</dt>
    <dd> All expenses are listed in the Expenses tab</dd>
<dt>Have a few graphs</dt>
    <dd> To be done now</dd>
<dt>Store them in a database</dt>
    <dd>All information is stored in a database. I used migrations and connected with the localdb.</dd>
<dt>Extra: search by created date, tag/category, text, expired, due date</dt>
    <dd>I added a search functionality based on the Expense Name (tried category but I didn't get to debug why it's not working)</dd>
<dt>Extra: due date with reminder</dt>
    <dd>I added in the model a due date but didn't add it to the GUI yet since I haven't made the functionality for the reminder</dd>
<dt>Extra: mark expired expenses</dt>
    <dd>As previous, I haven't done this because I haven't implemented the due date in the GUI yet</dd>
</dl>


</div>
