@model ExpensesTracker5.Models.ExpenseModel

@{
    ViewData["Title"] = "Create";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
<div>
    <div class="row">
        <div class="col-md-8">
            <form id="expenseForm" method="post" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div>
                    <input type="hidden" asp-for="ExpenseId" />
                    <div class="form-group">
                        <label asp-for="IsCompleted" class="form-check-label">Did you complete the transaction?</label>
                        <input style="margin-left:20px" asp-for="IsCompleted" type="checkbox" class="form-check-input" checked id="completedExpense" />
                    </div>
                    @{
                        <script>
                            $(document).ready(function () {
                                var ckbox = $('#completedExpense');

                                $('input').on('click', function () {
                                    if (ckbox.is(':checked')) {
                                        document.getElementById("expenseDiv").style.display = "block";
                                        document.getElementById("dueDiv").style.display = "none";
                                    }
                                    else {
                                        document.getElementById("expenseDiv").style.display = "none";
                                        document.getElementById("dueDiv").style.display = "block";
                                    }
                                });
                            });
                        </script>
                    }
                    <div class="form-group">
                        <label asp-for="ExpenseName" class="control-label">Expense Name</label>
                        <input asp-for="ExpenseName" class="form-control" />
                        <span asp-validation-for="ExpenseName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category" class="control-label"></label>
                        <select asp-for="Category" class="form-control">
                            <option value="">-- Select Category --</option>
                            <option value="Utilities">Utilities</option>
                            <option value="Payrolls">Payrolls</option>
                            <option value="Rent">Rent</option>
                            <option value="Bank rates">Bank rates</option>
                            <option value="Maintenance">Maintenance</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="expenseDiv">
                        <label asp-for="ExpenseDate" class="control-label">Expense Date</label>
                        <div class="input-group date">
                            <input asp-for="ExpenseDate" type="date" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>

                    <div class="form-group" id="dueDiv" style="display:none">
                        <label asp-for="DueDate" class="control-label">Due Date</label>
                        <div class="input-group date">
                            <input asp-for="DueDate" type="date" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col">
                            @*<button type="button" id="btnSubmit" class="btn btn-block btn-info">Save</button>*@
                            <input type="submit" class="btn btn-block btn-info w-100" value="Save" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-secondary w-100">Back</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>