    <script>
        google.charts.load('current', { 'packages': ['corechart'] });

        //Call function after Google Chart is loaded, it is required, otherwise you may get error
        google.charts.setOnLoadCallback(DrawonLoad);
        $(function (){
            DrawonLoad();
        });

        function DrawonLoad() {
            $(function () {
                $.ajax({
                    type: 'GET',
                    url: '/Expense/GetMonthlyExpense',
                    success: function (chartsdata) {
                        // Callback that creates and populates a data table,
                        // instantiates the pie chart, passes in the data and
                        // draws it.

                        //get JSONList from Object
                        var Data = chartsdata.JSONList;
                        var data = new google.visualization.DataTable();

                        data.addColumn('string', 'CategoryName');
                        data.addColumn('number', 'PostCount');

                        //Loop through each list data
                        for (var i = 0; i < Data.length; i++) {
                            data.addRow([Data[i].CategoryName, Data[i].PostCount]);
                        }

                        // Instantiate and draw our chart, passing in some options
                        var chart = new google.visualization.PieChart(document.getElementById('chartdiv'));

                        //Draw pie chart command with data and chart options
                        chart.draw(data,
                            {
                                title: "pLs Work",
                                position: "top",
                                fontsize: "14px",
                            });

                    },
                    error: function () {
                        alert("Error loading data! Please try again.");
                    }
                });
            })

        }
    </script>*@

@{
    ViewBag.Title = "OpenCharts";
}

<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<div id="chartdiv" style="width: 600px; height: 350px"></div>
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(DrawonLoad);
    $(function () {
        DrawonLoad();
    });
    function DrawonLoad() {
        $(function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetMonthlyExpense", "Expense")',
                success: function (chartsdata) {
                    var Data = chartsdata.JSONList;
                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'CategoryName');
                    data.addColumn('number', 'PostCount');
                    for (var i = 0; i < Data.length; i++) {
                        data.addRow([Data[i].CategoryName, Data[i].PostCount]);
                    }
                    createChartsColumn(monthlydata, titleMessage, totalspent.toFixed(2));
                }
            })

            $("#btnYearlyReport").click(function () {
                var titleMessage = "Expenses in last 12 months are : ";
                $.ajax({
                    type: "GET",
                    url: "/Expense/GetYearlyExpense",
                    contentType: "application/json",
                    dataType: "json",
                    success: function (result) {
                        var keys = Object.keys(result);
                        var yearlyData = new Array();
                        var totalspent = 0.0;
                        for (var i = 0; i < keys.length; i++) {
                            var arrL = new Array();
                            arrL.push(keys[i]);
                            arrL.push(result[keys[i]]);
                            totalspent += result[keys[i]];
                            yearlyData.push(arrL);
                        }
                        createChartsColumn(yearlyData, titleMessage, totalspent.toFixed(2));
                    }
                })

                $(document).ready(function () {
                    $("#btnPieMonthly").click(function () {
                        var titleMessage = "Expenses in last 30 days are : ";
                        $.ajax({
                            type: "GET",
                            url: "/Expense/GetMonthlyExpense",
                            contentType: "application/json",
                            dataType: "json",
                            success: function (result) {
                                var keys = Object.keys(result);
                                var monthlydata = new Array();
                                var totalspent = 0.0;
                                for (var i = 0; i < keys.length; i++) {
                                    var arrL = new Array();
                                    arrL.push(keys[i]);
                                    arrL.push(result[keys[i]]);
                                    totalspent += result[keys[i]];
                                    monthlydata.push(arrL);
                                }
                                createChartsPie(monthlydata, titleMessage, totalspent.toFixed(2));
                            }
                        })


                        function createChartsColumn(sum, titleText, totalspent) {
                            Highcharts.chart('container', {
                                chart: {
                                    type: 'column'
                                },
                                title: {
                                    text: titleText + ' ' + totalspent
                                },
                                xAxis: {
                                    type: 'category',
                                    labels: {
                                        rotation: -45,
                                        style: {
                                            fontSize: '13px',
                                            fontFamily: 'Verdana, sans-serif'
                                        }
                                    }
                                },
                                yAxis: {
                                    min: 0,
                                    title: {
                                        text: 'Money spent'
                                    }
                                },
                                legend: {
                                    enabled: false
                                },
                                tooltip: {
                                    pointFormat: 'Total money spent: <b>{point.y:.2f} </b>'
                                },
                                series: [{
                                    type: 'column',
                                    data: sum,
                                }]
                            });
                        }

                        function createChartsPie(sum, titleText, totalspent) {
                            Highcharts.chart('container', {
                                chart: {
                                    plotBackgroundColor: null,
                                    plotBorderWidth: null,
                                    plotShadow: false,
                                    type: 'pie'
                                },
                                title: {
                                    text: titleText + ' ' + totalspent
                                },

                                legend: {
                                    enabled: false
                                },
                                tooltip: {
                                    pointFormat: 'Total money spent: <b>{point.y:.2f} </b>'
                                },

                                series: [{
                                    type: 'column',
                                    data: sum,
                                }],
                                plotOptions: {
                                    pie: {
                                        allowPointSelect: true,
                                        cursor: 'pointer',
                                        dataLabels: {
                                            enabled: true,
                                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                            style: {
                                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                            }
                                        }
                                    }
                                },
                                series: [{
                                    name: 'Category',
                                    colorByPoint: true,
                                    data: [{
                                        name: 'Utilities',
                                        y: data.Male
                                    }, {
                                        name: 'Payrolls',
                                        y: data.Female
                                    }, {
                                        name: 'Rent',
                                        y: data.Rent
                                    }, {
                                        name: 'Bank Rates',
                                        y: data.BankRates
                                    }, {
                                        name: 'Maintenance',
                                        y: data.Female
                                    }]
                                });
                        }

</script>
                                    }]
                                });
                        }

</script>
                                    }]
                                });
                        }

</script>
                                    }]
                                });
                        }

</script>
                                    }]
                                });
                        }

</script>
                                    }]
                                });
                        }

</script>
                                    }]
                                });
                        }

</script>
                                    }]
                                });
                        }

</script>
